html, body, ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
	margin: 10px;
}

.flex-main {
	display: flex;
	height: 100%;
}
.flex-item1,
.flex-item2,
.flex-item3 {
	width: 150px;
	border: 1px solid #f00; 
}
.flex-item1 {
	height: 120px;
}
.flex-item2 {
	height: 100px;
}

.flex-item3 {
	height: 40px;
}

.flex-item4 {
	width: 150px;
	height: 200px;
	border: 1px solid #0f0; 
}


@media (min-width:641px) {
	.flex-main {		
		align-items: center;
		justify-content: center;
	}
}
@media (max-width:640px) {
	.flex-main {
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
	}
	.flex-item1 {
		order: 2;
	}
	.flex-item2 {
		order: 3;
	}
	.flex-item3 {
		order: 4;
	} 
	.flex-item4 {
		order: 1;
	}
}